{% extends 'base/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1 class="mb-4">Добро пожаловать в наш магазин!</h1>

<!-- Меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for category in categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ category.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ category.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ category.id }}">
                        {% for child in category.children.all %}
                            <a class="dropdown-item" href="{% url 'category_detail' child.slug %}">{{ child.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<!-- Отображение товаров -->
<h2 class="mt-4 mb-4">Все товары</h2>
<div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header">
                    <h6 class="card-title">{{ product.name }}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
